{% load static %}
{% load cart_template_tags %}
{% load category_template_tags %}

<style>
	.topbar {
		background-color: white;
		color: black !important;
	}
	.topbar a:hover{
		color: black;
	}
</style>
<!-- Header -->
<header class="header1">
		<!-- Header desktop -->
		<div class="container-menu-header">
			<div class="topbar">
				<div class="topbar-social">
					<a href="https://t.me/SobirAbdulloh "target="_blank" class="topbar-social-item fab fa-telegram"></a>
					<a href="https://www.facebook.com/people/Manzara-Mebel/100081088668200/"target="_blank" class="topbar-social-item fab fa-facebook"></a>
					<a href="https://www.instagram.com/manzaramebel/"target="_blank" class="topbar-social-item fab fa-instagram"></a>
					<a href="https://www.youtube.com/channel/UCk3zrQtkNKRkCl6EwhJZ0LQ/"target="_blank" class="topbar-social-item fab fa-youtube"></a>
				</div>

				<span class="topbar-child1">
					Aloqa : +998 90 334 66 41	
				</span>

				<div class="topbar-child2">
					<span class="topbar-aloqa">
						<a href="https://t.me/SobirAbdulloh"target="_blank">
						Telegram Murojat:	+998 97 771 08 52
					    </a>
					</span>

					
				</div>
			</div>

			<div class="wrap_header">
				<!-- Logo -->
				<a href="/" class="logo">
					<p style="color: black; "><b style="font-size: 22px;">M</b>anzara <b style="font-size: 22px;">M</b>ebel</p>
				</a>

				<!-- Menu -->
				<div class="wrap_menu">
					<nav class="menu">
						<ul class="main_menu">
							<li>
								<a href="/">Asosiy</a>

							</li>

							<li>
								<a href="/shop/">Buyurtma berish</a>
							</li>

							{% categories %}

							{% if request.user.is_authenticated %}
							
							{% else %}
							<li>
								<a href="#">Aloqa</a>
							
							</li>
							{% endif %}
						</ul>
					</nav>
				</div>

				<!-- Header Icon -->
				
			</div>
		</div>

		<!-- Header Mobile -->
		<div class="wrap_header_mobile">
			<!-- Logo moblie -->
			<a href="\" class="logo-mobile">
				<img src="{% static 'images/icons/logo.png' %}" alt="IMG-LOGO">
			</a>

			<!-- Button show menu -->
			<div class="btn-show-menu">
				<!-- Header Icon mobile -->
				<div class="header-icons-mobile">
					<span class="topbar-child1">
						Aloqa : +998 90 334 66 41	
					</span>

					<span class="linedivide2"></span>

					
				</div>

				<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
				</div>
			</div>
		</div>

		<!-- Menu Mobile -->
		<div class="wrap-side-menu" >
			<nav class="side-menu">
				<ul class="main-menu">
					

					<li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
						<div class="topbar-child2-mobile">
							<span class="topbar-email">
								manzamebel1@gmail.com
							</span>
						</div>
					</li>

					<li class="item-topbar-mobile p-l-10">
						<div class="topbar-social-mobile">
							<a href="https://t.me/SobirAbdulloh "target="_blank" class="topbar-social-item fab fa-telegram"></a>
							<a href="https://www.facebook.com/people/Manzara-Mebel/100081088668200/"target="_blank" class="topbar-social-item fab fa-facebook"></a>
							<a href="https://www.instagram.com/manzaramebel/"target="_blank" class="topbar-social-item fab fa-instagram"></a>
							<a href="https://www.youtube.com/channel/UCk3zrQtkNKRkCl6EwhJZ0LQ/"target="_blank" class="topbar-social-item fab fa-youtube"></a>
						</div>
					</li>

					<li class="item-menu-mobile">
						<a href="/">Asosiy</a>
					</li>

					<li class="item-menu-mobile">
						<a href="/shop">Buyurtma berish</a>
					</li>

					{% categories_mobile %}

					{% if request.user.is_authenticated %}
					<li class="item-menu-mobile">
						<a href="{% url 'core:order-summary' %}">Cart<span class="badge badge-dark">{{ request.user|cart_item_count }}</span></a>
					</li>
					
					{% else %}
					<li class="item-menu-mobile">
						<a href="#">Aloqa</a>
					</li>
					{% endif %}

				</ul>
			</nav>
		</div>
	</header>